<a href="https://colab.research.google.com/github/2303a51732santhosh/2303A51732_Python_for_Datascience/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load sales data
sales_df = pd.read_csv("sales_data.csv")

# 1. Remove rows with missing Product or Quantity
sales_df = sales_df.dropna(subset=["Product", "Quantity"])

# 2. Fill missing Price with mean price
mean_price = sales_df["Price"].mean()
sales_df["Price"] = sales_df["Price"].fillna(mean_price)

# 3. Calculate missing Total = Quantity × Price
sales_df["Total"] = sales_df.apply(
    lambda row: row["Quantity"] * row["Price"] if pd.isna(row["Total"]) else row["Total"],
    axis=1
)

# 4. Display all records with Total > 1000
large_transactions = sales_df[sales_df["Total"] > 1000]

print("✅ Transactions with Total > 1000:")
print(large_transactions)

# Optional: Save cleaned file
# sales_df.to_csv("cleaned_sales_data.csv", index=False)

✅ Transactions with Total > 1000:
   Invoice_No Customer_Name  Product  Quantity       Price   Total
7        1008   Laura White  Desktop      10.0  333.333333  5000.0

In [2]:
import pandas as pd

# Load applicants data
applicants_df = pd.read_csv("applicants.csv")

# 1. Drop rows missing Python_Score
applicants_df = applicants_df.dropna(subset=["Python_Score"])

# 2. Replace missing Experience_Years with 0
applicants_df["Experience_Years"] = applicants_df["Experience_Years"].fillna(0)

# 3. Filter applicants with Python_Score > 80 and Experience_Years > 2
qualified_applicants = applicants_df[
    (applicants_df["Python_Score"] > 80) & (applicants_df["Experience_Years"] > 2)
]

print("✅ Qualified Applicants (Python_Score > 80 & Experience_Years > 2):")
print(qualified_applicants)

# Optional: Save filtered applicants
# qualified_applicants.to_csv("qualified_applicants.csv", index=False)

✅ Qualified Applicants (Python_Score > 80 & Experience_Years > 2):
  Applicant_ID          Name  Degree  Experience_Years  Python_Score    Status
0         A001      John Doe  B.Tech               3.0          85.0   Pending
1         A002    Jane Smith     MCA               5.0          90.0  Selected
6         A007  David Wilson     MCA               4.0          82.0  Selected
8         A009  James Miller  M.Tech               6.0          92.0  Selected