<a href="https://colab.research.google.com/github/2303a51732santhosh/2303A51732_Python_for_Datascience/blob/main/Lab4(Aug_21).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("student_scores.csv")

# Fill missing marks with column-wise averages
df_filled = df.fillna(df.mean(numeric_only=True))

# Filter students scoring more than 75 in all subjects
high_achievers = df_filled[
    (df_filled["Math"] > 75) &
    (df_filled["Science"] > 75) &
    (df_filled["English"] > 75)
]

# Display results
print("Cleaned Data:")
print(df_filled)

print("\nHigh Achievers (all subjects > 75):")
print(high_achievers)

Cleaned Data:
   Student_ID     Name  Math  Science  English
0           1    Alice  85.0     90.0     88.0
1           2      Bob  78.0     79.2     72.0
2           3  Charlie  82.6     76.0     79.0
3           4    David  92.0     85.0     79.4
4           5      Eva  70.0     65.0     68.0
5           6    Frank  88.0     80.0     90.0

High Achievers (all subjects > 75):
   Student_ID     Name  Math  Science  English
0           1    Alice  85.0     90.0     88.0
2           3  Charlie  82.6     76.0     79.0
3           4    David  92.0     85.0     79.4
5           6    Frank  88.0     80.0     90.0

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("patients (1).csv")

# Replace missing Age values with the median
df["Age"] = df["Age"].fillna(df["Age"].median())

# Filter elderly female patients (>50 years old) diagnosed with Diabetes
filtered = df[
    (df["Gender"].str.lower() == "female") &
    (df["Age"] > 50) &
    (df["Diagnosis"].str.lower() == "diabetes")
]

# Display results
print("Cleaned Data:")
print(df)

print("\nElderly Female Patients with Diabetes:")
print(filtered)

# Optionally save filtered results to a new CSV
filtered.to_csv("elderly_female_diabetes.csv", index=False)

Cleaned Data:
   Patient_ID       Name   Age  Gender     Diagnosis Admission_Date
0         101      Alice  65.0  Female      Diabetes     2023-01-12
1         102        Bob  60.0    Male  Hypertension     2023-02-15
2         103  Catherine  54.0  Female      Diabetes     2023-03-10
3         104      David  45.0    Male        Asthma     2023-04-05
4         105        Eva  70.0  Female           Flu     2023-05-20
5         106      Fiona  60.0  Female      Diabetes     2023-06-18
6         107     George  60.0    Male      Diabetes     2023-07-22

Elderly Female Patients with Diabetes:
   Patient_ID       Name   Age  Gender Diagnosis Admission_Date
0         101      Alice  65.0  Female  Diabetes     2023-01-12
2         103  Catherine  54.0  Female  Diabetes     2023-03-10
5         106      Fiona  60.0  Female  Diabetes     2023-06-18